# --- Laravel Core & Dependencies ---
/.env
.env.backup
.env.production
/auth.json
/node_modules
/vendor

# --- Laravel Storage & Cache ---
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/views/*
/storage/logs/*

# --- Testing & Code Coverage ---
/.phpunit.cache
.phpunit.result.cache
/tests/coverage/

# --- IDEs & Code Editors ---
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# --- Development Environments & Logs ---
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
